*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    touch-action: none;
    background-color: #98babf;
    margin: 0;
    overscroll-behavior: none;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
        Cantarell, "Helvetica Neue", sans-serif;
}

main {
    height: 100%;
    display: flex;
    flex-flow: column;
}

p {
    margin-bottom: 0.6rem;
    margin-top: 0;
}

input {
    margin-right: 0.4em;
    user-select: none;
}

input[type="number"] {
    width: 3rem;
}

input[type="range"] {
    width: 12rem;
    vertical-align: middle;
}

img {
    margin-left: 0.2rem;
    width: 1rem;
}

span {
    margin-bottom: auto;
    margin-top: auto;
}
