*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #72b9b3;
    margin: 0px;
    min-height: 100%;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.control-panel {
    background-color: black;
    color: white;
    padding: 10px;

    input[type="range"] {
        width: 8rem;
    }

    p {
        margin-bottom: 5px;
    }
}

.piano {
    --white-keys: 0;
    display: flex;
    align-self: flex-end;
}

.key {
    height: calc(var(--width) * 6);
    width: var(--width);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 5px 1px rgba(32, 32, 32, 0.2);
    user-select: none;

    &:hover {
        background-color: rgb(33, 192, 197);
        border: rgb(20, 112, 116) solid 1px;
    }
}

.white {
    --width: calc(100vw / var(--white-keys));
    background-color: white;
    border: 1px solid #333;
}

.black {
    --width: calc(100vw / var(--white-keys) / 1.6666);
    background-color: rgb(26, 26, 26);
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
}

.pressed {
    background-color: #1f45ee !important;
    border: #1a37b8 solid 2px !important;
    transform: translateY(2.5%);
    box-shadow: 0px 0px 1px rgba(32, 32, 32, 0.2);
}
